Welcome to mxit one night ultimate werewolf.<br/>
Coming Soon.</br>

<ul>
  <li><%= link_to 'feedback','/feedback', id: 'feedback' %></li>
  <li><%= link_to 'profile','/profile', id: 'profile' %></li>
  <li><%= link_to 'buy credits', '/purchase_transactions', id: 'buy_credits' %></li>
  <li><%= link_to 'redeem prize points', '/redeem_winnings', id: 'redeem' %></li>
</ul>


