<h2>Goal of the Game</h2>
<p>
  One Night Ultimate Werewolf is for 3 to 10 players and takes about 10 minutes to play.
  The goal of the game is to kill off one of the werewolves if you’re a villager, or prevent werewolves from being
  killed if you’re a werewolf.
</p>

<h2>Setup</h2>
<p>
  Each player gets a secret random role at the start of the game.
  (It’s worth noting that it’s possible for no one to be a werewolf).
</p>

<h2>Night</h2>
<p>
  During the “night” phase, several roles get a chance to perform an action.
</p>

<h2>Day</h2>
<p>
  Once all of the relevant roles have performed their night actions, then it’s “day” and everyone wakes up.
  You spend a little time discussing who you believe to be werewolves.
  You can say whatever you like
</p>

<h2>Day</h2>
<p>
  After a few minutes of discussion, there is a vote.
  The player with the most votes dies.
  If there’s a tie, then everyone tied for most dies—unless nobody received more than one vote.
  For instance, if it’s agreed that there are no werewolves at all then everyone could vote for the person on their right,
  thus ensuring that nobody dies.
</p>

<h2>Game End</h2>
<p>
  The village team wins if at least one werewolf dies.
  Even if some villagers die as well, they can win posthumously because the villagers found at least one werewolf.

  If nobody is a werewolf and nobody dies, everyone wins.
  (Conversely, if nobody is a werewolf and a villager is killed, then everyone loses.)

  The werewolf team only wins if at least one player is a werewolf and no werewolves are killed.
  The Tanner wins if he dies.
</p>

<ul>
  <li><%= smart_link_to 'home','/' %></li>
  <li><%= smart_link_to 'roles','/how_to_play/roles', id: 'roles_explained' %></li>
</ul>


