<h2>Roles</h2>
<p>Here are the roles, plus their night actions, if any:</p>
<ul>
<!--
  <li><b>Doppelganger:</b> this character goes first, but is the most complicated to use.
      The Doppelganger gets to look at one other player’s role and then becomes a copy of that role.
      Generally I’d recommend leaving the Doppelganger out unless everyone’s familiar with the other roles.
  </li>
-->
  <li><b>Werewolves:</b> the werewolves know who one another are.
    <!-- If there’s only one werewolf, the player may look at one of the center cards. -->
  </li>

  <li><b>Minion:</b> the minion is on the side of the werewolves, and gets to see who the werewolves are, but they don’t know who he is.
    If the minion dies but no werewolves die, the minion (and the werewolves) win.
  </li>

  <li><b>Masons:</b> the masons know who one another are.
  </li>

  <li><b>Seer:</b> the seer gets to look at one other player’s role or 2 roles out of play
  </li>

  <li><b>Robber:</b> the robber may swap roles with another player, and knows what there new role is.
    The robber joins the team of whatever role they took, and the player who now has the robber role is on the village team.
  </li>

  <li><b>Troublemaker:</b> the troublemaker gets to swap two other players’ roles with each other, without knowing what there roles are.
    Those two players now become the other roles without knowing it.
  </li>

  <!--
  <li><b>Drunk:</b> the drunk exchanges his role for one of the roles out of play without knowing what it is.
    The drunk now becomes that new role, even though he doesn’t know what it is.
  </li>
  -->

  <li><b>Insomniac:</b> the insomniac gets to confirm his role, to see if their role has changed.</li>

  <li><b>Villagers:</b> don’t do anything at night.</li>

  <!--
  <li><b>Tanner:</b> hates his job and wishes he were dead, so he’s on a team by himself—he wins if he dies.</li>
  -->

  <!--
 <li><b>Hunter:</b> The Hunter has a one-shot kill—if he dies, whoever he is pointing at also dies regardless of how many votes they got.</li>
 -->
</ul>

<ul>
  <li><%= smart_link_to 'home','/' %></li>
  <li><%= smart_link_to 'how to play','/how_to_play', id: 'how_to_play' %></li>
</ul>


